<h2>Experience</h2>
<div class="card-container">
    {% for item in site.data.experience %}
    <!-- {% if item.page-name %}
    <a href="/experience/{{ item.page-name }}">
    {% else %}
    <a>
    {% endif %} -->
      <div class="card">
        <img src="./assets/img/experience/{{item.logo}}" width="80px" height="80px">
        <div class="info">
          <p class="title">{{ item.role }}</p>
          <p class="location">{{ item.company }}</p>
          <p class="dates">{{ item.dates }}</p>
        </div>        
      </div>
    </a>
    {% endfor %}
  </div>
  